html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  font-family: 'Space Grotesk RU';
}

body {
  background-color: #e5e9f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.app-container {
  display: flex;
  justify-content: end;
  height: 100vh;
  margin: 0 auto;
  .btn-container {
    .logout-button {
      height: 2.5rem;
      position: absolute;
      top: 25px;
      right: 20px;
      padding: 8px 12px;
      background-color: #dc3545;
      color: white;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
      z-index: 10;
      transition: background-color 0.3s;

      &:hover {
        background-color: #c82333;
      }
    }
    .language-switcher {
      position: absolute;
      top: 25px;
      right: 10rem;
      .btn-group {
        height: 2.5rem;
      }
    }
  }
}

.content-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: end;
  .add-btn-container {
    display: flex;
    margin: 0 20px 2rem 20px;
    width: calc(100% - 19rem);
    max-width: 100rem;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
  }
}

.filter-container {
  position: absolute;
  top: 28px;
  left: 20px;

  .reset-filters {
    width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 1280px) {
  .filter-container {
    display: flex;
    flex-direction: column;
    width: 15rem;
    position: static;
    margin-bottom: 1rem;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

// Для мобильных устройств
@media (max-width: 768px) {
  body {
    justify-content: center;
    margin-right: 0;
  }

  .app-container {
    .btn-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .logout-button,
      .language-switcher {
        position: static;
        margin: 1rem;
      }
    }
  }
}
