.navbar {
  border-radius: 10px;
  box-shadow:
    -0.2rem -0.2rem 0.5rem hsl(0 0% 100% / 0.75),
    0.2rem 0.2rem 0.5rem hsl(0 0% 50% / 0.5);
  width: 15rem;
  background-color: white;

  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      color: #000;
      margin: 8px 0 8px; /* Отступ снизу надписи "Years" */
    }

    .input-container {
      display: flex;
      align-items: center;
    }

    .myshadow {
      box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.35);
    }

    .years {
      display: flex;
      flex-direction: row;
    }

    input[type='text'] {
      width: 75px;
      text-align: center;
    }

    .inputs {
      margin-right: 0.5rem;
    }

    .dash {
      margin: 5px 5px; /* Отступ между дефисом и инпутами */
    }

    .estimations {
      display: flex;
      margin-top: 8px;
      gap: 1rem;
    }

    .sort {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .sort-element {
        user-select: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .triangles {
          width: 1rem;
          margin-right: 1rem;
        }
      }
    }

    .btn-reset-name {
      background-color: red;
      color: white;
      border: none;
      position: absolute;
      right: -2.3rem;
      padding: 0;
      height: 2rem;
      width: 2rem;
      transform: translateY(10%);
      font-size: 1rem;
      line-height: normal;
      cursor: pointer;

      &:hover {
        background-color: darkred;
      }
    }
  }
}

.tooltip-inner {
  background-color: rgb(185, 0, 0) !important;
  font-family: 'Space Grotesk', sans-serif;
}
